@import "reset.css";

:root {
  --color-primary: var(--color-green);
  --color-accent: var(--color-orange);
  --color-text: var(--color-white);

  /* Color */
  --color-white: #ffffff;
  --color-dark-white: #e6e6e6;
  --color-black: #050a13;
  --color-gray: #1b1e26;
  --color-orange: #ffba00;
  --color-green: #6d9773;
  --color-dark-green: #0c3b2e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

section {
  padding: 6rem;
  text-align: center;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
  margin-bottom: 3rem;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 0;
}

.section-title h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--color-black);
  position: relative;
  z-index: 2;
}

.section-title p {
  font-size: 1.5rem;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

/* Navbar */
#header {
  height: 80px;
  background-color: transparent;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 993;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar a {
  padding: 10px 15px;
  font-weight: 600;
}

.navbar a:hover {
  color: var(--color-accent);
}

.active {
  color: var(--color-accent);
}

/* Home */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/bgimg.jpg);
  background-size: cover;
}

.home-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

.home-container h1 {
  color: var(--color-text);
  margin: 0 0 1.2rem 0;
  font-size: 3rem;
  font-weight: 400;
}

.home-container h2 {
  color: var(--color-text);
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.home-btn i {
  font-size: 2.5rem;
}

.home-btn i:hover {
  color: var(--color-accent);
}

.home-btn {
  transition: 0.4s;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* About */
#about {
  height: 100vh;
}

.about__profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__img {
  max-width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid var(--color-orange);
  margin-right: 3rem;
}

.description {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.description i {
  color: var(--color-accent);
}

.majors {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  width: 15rem;
  background-color: var(--color-primary);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 5px 5px 0px 0px rgba(109, 40, 217);
}

.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

/* Skill */
#skills {
  background-color: #e6e6e6;
  height: 100vh;
  max-width: 100%;
  padding: 64px 150px;
}

.skills-container h1 {
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text);
  background-color: var(--color-primary);
  width: 250px;
  border-radius: 20px;
}

.skill {
  display: flex;
  justify-content: start;
}

.skill-description {
  margin: 20px 15px;
  padding: 5px 10px;
  width: 300px;
  height: 100px;
  border: 3px solid var(--color-accent);
  border-radius: 20px;
}

.skill-description h2 {
  color: var(--color-dark-green);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.skill-description p {
  color: var(--color-black);
  font-size: 16px;
  margin: 4px 0;
}

/* Project */
#projects {
  height: 100vh;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.category {
  color: var(--color-black);
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category__selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project__img {
  width: 100%;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 75px;
  height: 2px;
  background-color: var(--color-accent);
}

/* Footer */
#contact {
  background-color: var(--color-green);
  color: var(--color-text);
  padding: 3rem;
  text-align: center;
}

#contact h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 28px 0;
}

.footer_description {
  font-size: 26px;
  font-weight: 600;
  margin: 4px 0;
}

.contact__links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact__link {
  font-size: 32px;
}

.contact__link i {
  transition: all 300ms ease-in;
}

.contact__link i:hover {
  color: var(--color-dark-green);
  transform: scale(1.2);
}

/* Media */
@media screen and (max-width: 768px) {
  .section {
    padding: 3rem 2rem;
  }

  .section-title span {
    font-size: 2.5rem;
  }

  .section-title h2 {
    font-size: 1.25rem;
  }

  .section-title p {
    font-size: 1rem;
  }

  .home-container h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }

  .home-container h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .home-btn i {
    font-size: 1.5rem;
  }

  .about-profile {
    max-width: 10rem;
    height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
  }
}
